{% extends "layout.html" %}
{% block style %}
    .title {
        text-align: center;
    }

    div.grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .grid-item {
    }
{% endblock %}
{% block body %}
    <h1 class="title">{{ title }}</h1>
    <div class="grid-container">
        {% for camera in cameras %}
            <div class="grid-item">
                <h3 style="text-align: center;">{{ cameras[camera] }} Camera</h3>
                <img src="/stream/{{ camera }}/sd.jpg">
            </div>
        {% endfor %}
    </div>
{% endblock %}