{% extends "layout.html" %}
{% block style %}
    div.grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .grid-item {
    }
{% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    <div class="grid-container">
        <div class="grid-item">
            <h3 style="text-align: center;">Backyard Camera</h3>
            <img src="/stream/backyard/sd.jpg">
        </div>
        <div class="grid-item">
            <h3 style="text-align: center;">Front Door Camera</h3>
            <img src="/stream/backyard/sd.jpg">
        </div>
        <div class="grid-item">
            <h3 style="text-align: center;">Garage Camera</h3>
            <img src="/stream/backyard/sd.jpg">
        </div>
    </div>
{% endblock %}